/*comment test*/
/*@import "./mod/mod1.css";*/
@import "./mod/mod1.css";
@import "./mod/mod2.css";
@import "./mod/mod3.css";
@import "./mod/mod4.css";
/*! this comment needs to be preserved. */
@import url("http://assets.taobaocdn.com/tbsp/tbsp.source.css");

@import "./mod/test_rel_src_mod.css";

body {
    background: transparent;
}